# Dependencies
node_modules/
target/
dist/
.metadata/
.recommenders/

# IDEs and Editors
.idea/
.vscode/
.settings/
.classpath
.project
bin/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Operating System
Thumbs.db
Desktop.ini
.DS_Store

# Log files
*.log
.spring-boot-devtools-restart.mysql

# Temp / Zip
*.zip
*.tar.gz
